__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

*.pkl
*.csv
*.zip
*.hgr

Results/

cluster_graphs.zip
unzip_cluster_graphs/
cluster_hgr/
cluster_new_hgr/
er_hgr/
grid_hgr/
hgr/
molhiv_hgr/
ppa_hgr/
zinc_hgr/
SBM_CLUSTER.pkl


.data/
.vscode/
config/

data/
